<div class="admin">
        <div class="admin-title">
            <h1>Administrador/a del Club de Tenis Semigain</h1>
            <div class="user">
              <span class="badge badge-primary"><i class="fas fa-circle-user"></i> {{ this.administrador.NOMBRE +' '+ this.administrador.APELLIDOS }}</span>
            </div>
        </div>  
    
        <div class="container">
            <div class="row">
              <div class="col-md">
                <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                      <img src="assets/images/new-player.jpg" class="img-fluid"/>
                      <a href="#!" routerLink="/nuevo-jugador">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                      </a>
                    </div>
                    <div class="card-body">
                      <h2 class="card-title">Nuevos jugadores</h2>
                      <p class="card-text">Para que un jugador pueda empezar a utilizar los servicios de la web, un administrador debe validar su solicitud.</p>
                      <a href="#!" class="btn btn-primary" [routerLink]="['/validar-jugadores', this.id]">Validar solicitudes</a>
                    </div>
                  </div>
              </div>
              <div class="col-md">
                <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                      <img src="assets/images/tennis-players.jpg" class="img-fluid"/>
                      <a href="#!" routerLink="/jugadores">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                      </a>
                    </div>
                    <div class="card-body">
                      <h2 class="card-title">Jugadores del club</h2>
                      <p class="card-text">En este apartado puedes acceder a los jugadores/as del club, incluidos sus datos y reservas realizadas.</p>
                      <a href="#!" class="btn btn-primary" routerLink="/jugadores">Jugadores</a>
                    </div>
                  </div>
              </div>
              <div class="col-md">
                <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                      <img src="assets/images/player-reserve.jpg" class="img-fluid"/>
                      <a href="#!" routerLink="/reservas-total">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                      </a>
                    </div>
                    <div class="card-body">
                      <h2 class="card-title">Reservas realizadas</h2>
                      <p class="card-text">En este apartado puedes consultar el histórico de reservas realizadas por los jugadores/as del club.</p>
                      <a href="#!" class="btn btn-primary" routerLink="/reservas-total">Reservas realizadas</a>
                    </div>
                  </div>
              </div>
              <div class="col-md">
                <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                      <img src="assets/images/player-personal-data.jpg" class="img-fluid"/>
                      <a href="#!"routerLink="/datos-personales-administrador">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                      </a>
                    </div>
                    <div class="card-body">
                      <h2 class="card-title">Datos personales</h2>
                      <p class="card-text">Puedes modificar los datos personales de que disponemos, incluidos los datos de contacto.</p>
                      <a href="#!" class="btn btn-primary" [routerLink]="['/datos-personales-administrador', this.id]">Datos personales</a>
                    </div>
                  </div>
              </div>
            </div>
          </div>
</div>

