<div class="admin">
    <div class="admin-title">
        <h1>Jugadores/as del Club de Tenis Semigain</h1>
        <div class="user">
            <a href="#" routerLink="/inicio-administrador"><span class="badge badge-primary"><i class="fas fa-circle-user"></i> Antonio Martínez Uribe</span></a>
        </div>
    </div>  
    <div class="row">
      <div class="col-xl-4 col-lg-6 mb-4" *ngFor = "let usuario of this.arrayBuscarUsuario">
        <div class="card">
          <div class="card-body">
            <div class="d-flex">
              <a href="#" class="profile-image"><img
                src="assets/images/6.jpg"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle" routerLink="/jugador"
              /></a>
              <div class="ms-3">
                <a href="#" class="fw-bold mb-1" routerLink="/jugador">{{usuario.NOMBRE}}</a>
                <p class="text-muted mb-0">{{usuario.EMAIL}}</p>
                <button type="button" class="btn btn-primary" [routerLink]="['/jugador', usuario.id]">Entrar</button>
                <button type="button" class="btn btn-outline-primary" (click)="eliminar(usuario.id)" mdbRipple rippleColor="dark" mdbRipple>Eliminar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
        
    </div>

</div>
