<div class="admin">
    <div class="player-title">
        <h1>Regenerar contraseña</h1>
        <p class="reserve-info">Para regenerar la contraseña, introduce tu nueva contraseña dos veces:</p>
    </div>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="saveData()" novalidate>
      <div class="form-row"> 
        <mat-form-field class="example-full-width">
            <mat-label>Nueva contraseña</mat-label>
            <input type="password" matInput formControlName="password1" [errorStateMatcher]="matcher" placeholder="Nueva contraseña">
            <mat-hint>Campo obligatorio</mat-hint>
            <mat-error *ngIf="resetPasswordForm.get('password1')?.hasError('minlength') && !resetPasswordForm.get('password1')?.hasError('required')">
              La contraseña debe contener como mínimo 6 caracteres.
            </mat-error>
            <mat-error *ngIf="resetPasswordForm.get('password1')?.hasError('pattern') && !resetPasswordForm.get('password1')?.hasError('required')">
              La contraseña debe contener entre 8 y 16 caractéres, y al menos, una letra en minúscula, otra letra en mayúscula, un número y un caracter especial.
            </mat-error>
            <mat-error *ngIf="resetPasswordForm.get('password1')?.hasError('matching')">
              Las contraseñas no coinciden.
            </mat-error>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field class="example-full-width">
            <mat-label>Repetir la nueva contraseña</mat-label>
            <input type="password" matInput formControlName="password2" [errorStateMatcher]="matcher" placeholder="Repetir la nueva contraseña">
            <mat-hint>Campo obligatorio</mat-hint>
            <mat-error *ngIf="resetPasswordForm.get('password2')?.hasError('matching')">
              Las contraseñas no coinciden.
              </mat-error>
          </mat-form-field>
      </div>

      <button type="submit" [disabled]="resetPasswordForm.invalid" class="btn btn-primary me-3">Enviar</button>

    </form>

</div>

