
<div class="container">
   <!--<img src="{{this.personalImage}}" class="img-fluid rounded-circle profile" alt="" />--> 

    <div class="data-editable">
      <h2 class="bg-light p-2 border-top border-bottom">Datos personales</h2>
      <form #form="ngForm" name="myForm">
      <table>
      <tr>
        <ng-container *ngFor="let item of arrayLabelsPersonales"> 
            <td>{{item}}</td>
        </ng-container>
      </tr>
      <tr *ngFor="let jugador of arrayJugadores">
       <!-- <td contenteditable formControlName="nombre">{{jugador.NOMBRE}}</td>
        <td><input type="text" placeholder="{{jugador.NOMBRE}}" value="q" formControlName="nombre" required></td>
        <td><input type="text" value="{{jugador.APELLIDOS}}" formControlName="apellidos" required></td>
        <td><input type="text" value="{{jugador.FECHA_NACIMIENTO}}" formControlName="fecha_nacimiento" required></td>
        <td><input type="text" value="{{jugador.SEXO}}" formControlName="sexo" required></td>
        <td><input type="text" value="{{jugador.NUMERO_SOCIO}}" formControlName="numero_socio" required></td>
        <td><button type="button" class="btn btn-outline-primary" (click)="editar(jugador.ID_USUARIO)" mdbRipple rippleColor="dark" mdbRipple>EDITAR</button></td>-->

        
        <!-- <td><input matInput placeholder="{{jugador.NOMBRE}}" value="{{jugador.NOMBRE}}" formControlName="nombre" ></td>
        <td><input matInput placeholder="{{jugador.APELLIDOS}}" value="{{jugador.APELLIDOS}}" formControlName="apellidos" ></td>
        <td><input matInput placeholder="{{jugador.FECHA_NACIMIENTO}}" value="{{jugador.FECHA_NACIMIENTO}}" formControlName="fecha_nacimiento" ></td>
        <td><input matInput placeholder="{{jugador.SEXO}}" value="{{jugador.SEXO}}" formControlName="sexo" ></td>
        <td><input matInput placeholder="{{jugador.NUMERO_SOCIO}}" value="{{jugador.NUMERO_SOCIO}}" formControlName="numero_socio"></td>
        <td><button type="button" class="btn btn-outline-primary" (click)="editar(jugador.ID_USUARIO)" mdbRipple rippleColor="dark" mdbRipple>EDITAR</button></td>-->

        <td><input  type="text" [(ngModel)]="jugador.name" name="nombre"  [ngModelOptions]="{standalone: true}" required minlength="4"/></td>
        <td><input  type="text" [(ngModel)]="jugador.apellidos"  [ngModelOptions]="{standalone: true}" required/></td>
        <td><input  type="date" min="jugador.fecha_nacimiento" [(ngModel)]="jugador.FECHA_NACIMIENTO"  [ngModelOptions]="{standalone: true}" required/></td>
        <td><input  type="text" [(ngModel)]="jugador.sexo"  [ngModelOptions]="{standalone: true}" /></td>
        <td><input name="num_socio"  type="text" [(ngModel)]="jugador.numero_socio" [ngModelOptions]="{standalone: true}" required/>
        <input  type="hidden" [(ngModel)]="jugador.direccion_postal" [ngModelOptions]="{standalone: true}" required />
        <input  type="hidden" [(ngModel)]="jugador.municipio" [ngModelOptions]="{standalone: true}" required />
        <input  type="hidden"[(ngModel)]="jugador.provincia" [ngModelOptions]="{standalone: true}" required />
        <input  type="hidden" [(ngModel)]="jugador.email" [ngModelOptions]="{standalone: true}" required />
        <input type="hidden" [(ngModel)]="jugador.fecha_alta" [ngModelOptions]="{standalone: true}" required />
        <input type="hidden" [(ngModel)]="jugador.fecha_baja" [ngModelOptions]="{standalone: true}" required />
        <input type="hidden" [(ngModel)]="jugador.password" [ngModelOptions]="{standalone: true}" required />
        <input type="hidden" [(ngModel)]="jugador.es_admin" [ngModelOptions]="{standalone: true}" required />

        <td><button type="button" class="btn btn-outline-primary" (click)="editar(jugador.ID_USUARIO, jugador.NOMBRE, jugador.APELLIDOS, jugador.FECHA_NACIMIENTO, jugador.SEXO, jugador.NUMERO_SOCIO, jugador.DIRECCION_POSTAL, jugador.MUNICIPIO, jugador.PROVINCIA, jugador.EMAIL, jugador.FECHA_ALTA, jugador.FECHA_BAJA, jugador.PASS, jugador.ES_ADMIN)" mdbRipple rippleColor="dark" mdbRipple>EDITAR</button></td>
  
      </tr>
      <p style="white-space: pre">{{this.mensaje}}</p>
    
    </table>

  </form>

  <div class="data-editable">
    <h2 class="bg-light p-2 border-top border-bottom">Datos Contacto</h2>
    <form #form="ngForm">
    <table>
    <tr>
      <ng-container *ngFor="let item of arrayLabelsContacto"> 
          <td>{{item}}</td>
      </ng-container>
    </tr>
    <tr *ngFor="let jugador of arrayJugadores">

      <input  type="hidden" [(ngModel)]="jugador.name"  [ngModelOptions]="{standalone: true}" required minlength="4"/>
      <input  type="hidden" [(ngModel)]="jugador.apellidos"  [ngModelOptions]="{standalone: true}" required/>
      <input  type="hidden" min="jugador.fecha_nacimiento" [(ngModel)]="jugador.FECHA_NACIMIENTO"  [ngModelOptions]="{standalone: true}" required/>
      <input  type="hidden" [(ngModel)]="jugador.sexo"  [ngModelOptions]="{standalone: true}" />
      <input  type="hidden" [(ngModel)]="jugador.numero_socio" [ngModelOptions]="{standalone: true}" required />
      <td><input  type="text" [(ngModel)]="jugador.direccion_postal" [ngModelOptions]="{standalone: true}" required /></td>
      <td><input  type="text" [(ngModel)]="jugador.municipio" [ngModelOptions]="{standalone: true}" required /></td>
      <td><input  type="text" [(ngModel)]="jugador.provincia" [ngModelOptions]="{standalone: true}" required /></td>
      <td><input  type="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [(ngModel)]="jugador.email"  ngModel #emailref="ngModel" required [ngModelOptions]="{standalone: true}"  /></td>
      <input type="hidden" [(ngModel)]="jugador.fecha_alta" [ngModelOptions]="{standalone: true}" required />
      <input type="hidden" [(ngModel)]="jugador.fecha_baja" [ngModelOptions]="{standalone: true}" required />
      <input type="hidden" [(ngModel)]="jugador.password" [ngModelOptions]="{standalone: true}" required />
      <input type="hidden" [(ngModel)]="jugador.es_admin" [ngModelOptions]="{standalone: true}" required />

      
      <div [hidden]="!emailref.errors?.pattern"><!--mejorable-->
        Invalid pattern
      </div> 

      <td><button type="button" class="btn btn-outline-primary" (click)="editar(jugador.ID_USUARIO, jugador.NOMBRE, jugador.APELLIDOS, jugador.FECHA_NACIMIENTO, jugador.SEXO, jugador.NUMERO_SOCIO, jugador.DIRECCION_POSTAL, jugador.MUNICIPIO, jugador.PROVINCIA, jugador.EMAIL, jugador.FECHA_ALTA, jugador.FECHA_BAJA, jugador.PASS, jugador.ES_ADMIN)" mdbRipple rippleColor="dark" mdbRipple>EDITAR</button></td>
      
    </tr>
    
    <p style="white-space: pre">{{this.mensaje}}</p>
    
    
  </table>

</form>




   
</div>
