<div class="login">
  <mat-card>
        <mat-card-title>Iniciar sesión</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Usuario" formControlName="username">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="password" matInput placeholder="Contraseña" formControlName="password">
        </mat-form-field>
      </p>

      <div class="button">
        <button type="submit" mat-button routerLink="/inicio-jugador">Entrar (rol jugador)</button>
        <button type="submit" mat-button routerLink="/inicio-administrador">Entrar (rol admin)</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
<ul class="under-login">
  <li><a href="#" routerLink="/nuevo-jugador">¿Aún no eres usuario de la web? Date de alta</a></li>
  <li><a href="#" routerLink="/recuperar-contrasena">¿Has olvidado la contraseña? Obtenla aquí</a></li>
</ul>
</div>
