<div class="home">
  <mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'">
    <mdb-carousel-item>
      <a href="#"  routerLink="/inicio">
      <img srcset="assets/images/home-background-3-mobile.jpg 480w, assets/images/home-background-3.jpg 800w"
      sizes="(max-width: 600px) 480px, 800px"
        src="assets/images/home-background-3.jpg"
        class="d-block w-100"
        alt="Frontón"
      />
      </a>
      <div class="carousel-caption d-none d-md-block">
        <h1>Club de Tenis Semigain</h1>
        <p>Somos un club diferente. Cuidamos y mantenemos nuestras instalaciones entre todos.</p>
        <button type="button" class="btn btn-primary" routerLink="/login">Reservar pista</button>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img srcset="assets/images/home-background-2-mobile.jpg 480w, assets/images/home-background-2.jpg 800w"
      sizes="(max-width: 600px) 480px, 800px"
        src="assets/images/home-background-2.jpg"
        class="d-block w-100"
        alt="Pistas 4 y 5"
      />
      <div class="carousel-caption d-none d-md-block">
        <h1>Club de Tenis Semigain</h1>
        <p>Disfrutamos de este deporte entre amigos, en nuestro club siempre encontrarás a alguien con quien jugar.</p>
        <button type="button" class="btn btn-primary" routerLink="/login">Reservar pista</button>
    </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img srcset="assets/images/home-background-1-mobile.jpg 480w, assets/images/home-background-1.jpg 800w"
      sizes="(max-width: 600px) 480px, 800px"
        src="assets/images/home-background-1.jpg"
        class="d-block w-100"
        alt="Pista 2"
      />
      <div class="carousel-caption d-none d-md-block">
        <h1>Club de Tenis Semigain</h1>
        <p>Estamos en Derio, en una zona rural, rodeados de un entorno natural ideal para practicar cualquier deporte.</p>
        <button type="button" class="btn btn-primary" routerLink="/login">Reservar pista</button>  
    </div>
    </mdb-carousel-item>
  </mdb-carousel>
</div>
<div class="home-under">
  <img src="assets/images/player-home.jpg" alt="Somos un club diferente" class="home-under-image"/>
  <div class="home-under-text">
    <h2>Ven a conocernos</h2>
    <p>Nuestro club está situado en el barrio de Arteaga de Derio (Bizkaia), justo detrás del Seminario. Puedes venir a visitar nuestras instalaciones y comprobar in situ el ambiente. De lunes a viernes tenemos una escuela con gran cantidad de niños del Txorierri y alrededores que acuden a entrenar. Todas las tardes y los fines de semana las pistas se llenan de socios dispuestos a disfrutar de su gran afición.</p>
    <p>Todos los abonados pueden hacer uso de las instalaciones entre las 8:00 de la mañana y las 22:00 de la noche. Contamos con 6 pistas de tenis, un frontón y una pista de pádel. Disponemos también de vestuarios y un txoko con cocina. ¡Anímate y ven a visitarnos!</p>

    <button type="button" class="btn btn-primary" routerLink="/quienes-somos">Conócenos</button>
    <button type="button" class="btn btn-outline-primary" mdbRipple rippleColor="dark" routerLink="/actividades" mdbRipple>Actividades</button>
  </div>
</div>  