<div class="admin">
    <div class="player-title">
        <h1>Recuperar contraseña</h1>
        <p class="reserve-info">Si has olvidado tu contraseña, envíanos tu correo eletrónico y tu número de socio y recibirás un mensaje con las instrucciones para recuperar tu contraseña.</p>
    </div>

    <form [formGroup]="forgottenPassword" (ngSubmit)="saveData()" novalidate>
      <div class="form-row"> 
        <mat-form-field class="margin-top">
          <mat-label>Correo electrónico</mat-label>
          <input type="email" matInput formControlName="email" [errorStateMatcher]="matcher"
                 placeholder="Ej. nombre@email.com">
          <mat-hint>Campo obligatorio</mat-hint>
          <mat-error *ngIf="forgottenPassword.get('email')?.hasError('email') && !forgottenPassword.get('email')?.hasError('required')">
            Introduce una dirección de correo válida.
          </mat-error>
          <mat-error *ngIf="forgottenPassword.get('email')?.hasError('required')">
            La dirección de correo es necesaria.
          </mat-error>
      </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field class="margin-top">
            <mat-label>Número de socio</mat-label>
            <input type="text" matInput formControlName="membershipId" [errorStateMatcher]="matcher" placeholder="Ej. 083B">
            <mat-hint>Campo obligatorio</mat-hint>
            <mat-error *ngIf="forgottenPassword.get('membershipId')?.hasError('minlength') && !forgottenPassword.get('membershipId')?.hasError('required')">
              El número de socio es como mínimo de 4 caracteres.
            </mat-error>
            <mat-error *ngIf="forgottenPassword.get('membershipId')?.hasError('maxlength') && !forgottenPassword.get('membershipId')?.hasError('required')">
              El número de socio es como máximo de 4 caracteres.
            </mat-error>
            <mat-error *ngIf="forgottenPassword.get('membershipId')?.hasError('pattern') && !forgottenPassword.get('membershipId')?.hasError('required')">
              El número de socio debe contener 3 números y una letra mayúscula.
            </mat-error>
            <mat-error *ngIf="forgottenPassword.get('membershipId')?.hasError('required')">
              El número de socio es necesario.
            </mat-error>
        </mat-form-field>
        </div>
      <button type="submit" [disabled]="forgottenPassword.invalid" class="btn btn-primary me-3">Enviar</button>

    </form>

</div>
