<div class="player">
  <div class="player-title">
      <h1>Nueva reserva</h1>
      <div class="user">
          <a href="#" routerLink="/inicio-jugador"><span class="badge badge-primary"><i class="fas fa-circle-user"></i> Andere Pérez Ulzama</span></a>
      </div>
      <p class="reserve-info">Se permite realizar <strong>una reserva (1 hora)</strong> de una instalación al día, con una antelación de <strong>7 días</strong>. Recuerda que las instalaciones las cuidamos y conservamos entre todos.</p>
  </div>

  <form [formGroup]="newReserveForm" (ngSubmit)="saveData()" novalidate>
    <div class="installation">
      <mat-form-field>
        <mat-label>Tipo de instalación:</mat-label>
        <select matNativeControl required formControlName="installationType" (change)="onSelect($event)" [errorStateMatcher]="matcher">
          <option value="1">--Selecciona--</option>
          <option *ngFor="let installationType of installationTypes" value={{installationType.installationTypeId}}>{{installationType.name}}</option>
        </select>
        <mat-hint>Campo obligatorio</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Pista número:</mat-label>
        <select matNativeControl required formControlName="installation" [errorStateMatcher]="matcher">
          <option value="0">--Selecciona--</option>
          <option *ngFor="let installation of installations" value= {{installation.ID_PISTA}}>{{installation.NUM_PISTA}}</option>
        </select>
        <mat-hint>Campo obligatorio</mat-hint>
      </mat-form-field>
    </div>
    
    <div class="reserve-date">
      <mat-form-field class="calendar">
          <mat-label>Fecha:</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date" [errorStateMatcher]="matcher" placeholder="Selecciona fecha" [min]="todayDate" [max]="maxDate">
          <mat-hint>MM/DD/YYYY (Campo obligatorio)</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker" ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="time">
        <mat-label>Hora de inicio (09:00 - 21:00):</mat-label>
          <mat-select matNativeControl required formControlName="initTime" [errorStateMatcher]="matcher">
            <mat-option value="1">--Selecciona--</mat-option>
            <mat-option *ngFor="let hourForReservation of hoursForReservation" value={{hourForReservation.id}}>{{hourForReservation.name}}</mat-option>
          </mat-select>
          <mat-hint>Campo obligatorio</mat-hint>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-label>Luz:</mat-label>
        <mat-radio-group formControlName="light">
          <mat-radio-button class="example-radio-button" [value]="1">Sí</mat-radio-button>
          <mat-radio-button class="example-radio-button" [value]="2">No</mat-radio-button>
      </mat-radio-group>
      <mat-error *ngIf="newReserveForm.get('light')?.hasError('required')">
        Este campo es obligatorio.
      </mat-error>
    </div>

    <div class="form-row">
      <mat-label>Pagado:</mat-label>
        <mat-radio-group formControlName="paid">
          <mat-radio-button class="example-radio-button" [value]="1">Sí</mat-radio-button>
          <mat-radio-button class="example-radio-button" [value]="2">No</mat-radio-button>
      </mat-radio-group>
      <mat-error *ngIf="newReserveForm.get('paid')?.hasError('required')">
        Este campo es obligatorio.
      </mat-error>
    </div>

    <button type="submit" [disabled]="newReserveForm.invalid" class="btn btn-primary me-3">Enviar</button>
  </form>
</div>
