<div class="player">
    <div class="player-title">
        <h1>Jugador/a del Club de Tenis Semigain</h1>
        <div class="user">
            <span class="badge badge-primary"><i class="fas fa-circle-user"></i> {{this.jugador.NOMBRE +' '+ this.jugador.APELLIDOS}}</span>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
          <div class="col-md">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                  <img src="assets/images/player-reserve.jpg" class="img-fluid"/>
                  <a href="#!" routerLink="/nueva-reserva">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
                <div class="card-body">
                  <h2 class="card-title">Realizar reserva de pistas</h2>
                  <p class="card-text">Las reservas de instalaciones se pueden realizar con 7 días de antelación y una hora al día.</p>
                  <a href="#!" class="btn btn-primary"  [routerLink]="['/nueva-reserva', this.id]"  >Nueva reserva</a>
                 
                
                </div>
              </div>
          </div>
          <div class="col-md">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                  <img src="assets/images/player-history.jpg" class="img-fluid"/>
                  <a href="#!" routerLink="/reservas-jugador">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
                <div class="card-body">
                  <h2 class="card-title">Histórico de reservas</h2>
                  <p class="card-text">En este apartado puedes consultar el histórico de reservas que has realizado en el club.</p>
                  <a href="#!" class="btn btn-primary" [routerLink]="['/reservas-jugador', this.id]">Reservas realizadas</a>
                </div>
              </div>
          </div>
          <div class="col-md">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                  <img src="assets/images/player-personal-data.jpg" class="img-fluid"/>
                  <a href="#!" routerLink="/datos-personales">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
                <div class="card-body">
                  <h2 class="card-title">Datos personales</h2>
                  <p class="card-text">Puedes modificar los datos personales de que disponemos, incluidos los datos de contacto.</p>
                  <a href="#!" class="btn btn-primary" [routerLink]="['/datos-personales-jugador', this.id]">Datos personales</a>
                </div>
              </div>
          </div>
        </div>
      </div>
</div>
