<div class="admin">
    <div class="player-title">
        <h1>Nuevo jugador/a</h1>
        <p class="reserve-info">Para darte de alta como usuario de la web debes enviarnos la información requerida. Posteriormente un administrador validará tu solicitud y podrás utilizar los servicios de la web.</p>
    </div>

    <form [formGroup]="newPlayerForm" (ngSubmit)="saveData()" novalidate>
      <div class="form-row">
        <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input type="text" matInput formControlName="name" [errorStateMatcher]="matcher"
            placeholder="Introduce tu nombre">
            <mat-hint>Campo obligatorio</mat-hint>
            <mat-error *ngIf="this.newPlayerForm.get('name')?.hasError('minlength')">
              Debes introducir mínimo 2 carateres.
            </mat-error>
            <mat-error *ngIf="this.newPlayerForm.get('name')?.hasError('maxlength')">
              Debes introducir máximo 30 carateres.
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Apellidos</mat-label>
            <input type="text" matInput formControlName="surname" [errorStateMatcher]="matcher"
            placeholder="Introduce tus apellidos">
            <mat-hint>Campo obligatorio</mat-hint>
            <mat-error *ngIf="this.newPlayerForm.get('surname')?.hasError('minlength')">
              Debes introducir mínimo 2 carateres.
            </mat-error>
            <mat-error *ngIf="this.newPlayerForm.get('surname')?.hasError('maxlength')">
              Debes introducir máximo 40 carateres.
            </mat-error>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field class="calendar">
            <mat-label>Fecha de nacimiento:</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName="birthdate" [errorStateMatcher]="matcher" placeholder="Selecciona fecha">
            <mat-hint>MM/DD/YYYY (Campo opcional)</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker2" ></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Sexo</mat-label>
          <input type="text" matInput formControlName="sex" [errorStateMatcher]="matcher"
          placeholder="Introduce tu sexo">
          <mat-hint>Campo obligatorio</mat-hint>
          <mat-error *ngIf="this.newPlayerForm.get('surname')?.hasError('minlength')">
            Debes introducir mínimo 2 carateres.
          </mat-error>
          <mat-error *ngIf="this.newPlayerForm.get('surname')?.hasError('maxlength')">
            Debes introducir máximo 40 carateres.
          </mat-error>
      </mat-form-field>
        <mat-form-field class="margin-top">
          <mat-label>Correo electrónico</mat-label>
          <input type="email" matInput formControlName="email" [errorStateMatcher]="matcher"
                 placeholder="Ej. nombre@email.com">
          <mat-hint>Campo obligatorio</mat-hint>
          <mat-error *ngIf="this.newPlayerForm.get('email')?.hasError('email') && !newPlayerForm.get('email')?.hasError('required')">
            Introduce una dirección de correo válida.
          </mat-error>
          <mat-error *ngIf="this.newPlayerForm.get('email')?.hasError('required')">
            La dirección de correo es necesaria.
          </mat-error>
      </mat-form-field>
      </div>
        <mat-form-field>
            <mat-label>Dirección Postal</mat-label>
            <input type="text" matInput formControlName="direction" [errorStateMatcher]="matcher"
            placeholder="Introduce tu dirección postal">
            <mat-hint>Campo opcional</mat-hint>
            <mat-error *ngIf="this.newPlayerForm.get('direction')?.hasError('minlength')">
              Debes introducir mínimo 2 carateres.
            </mat-error>
            <mat-error *ngIf="this.newPlayerForm.get('direction')?.hasError('maxlength')">
              Debes introducir máximo 60 carateres.
            </mat-error>
        </mat-form-field>
      <div class="form-row">
        <mat-form-field>
            <mat-label>Municipio</mat-label>
            <input type="text" matInput formControlName="municipality" [errorStateMatcher]="matcher"
            placeholder="Introduce tu municipio">
            <mat-hint>Campo opcional</mat-hint>
            <mat-error *ngIf="this.newPlayerForm.get('municipality')?.hasError('minlength')">
              Debes introducir mínimo 2 carateres.
            </mat-error>
            <mat-error *ngIf="this.newPlayerForm.get('municipality')?.hasError('maxlength')">
              Debes introducir máximo 30 carateres.
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Provincia</mat-label>
            <input type="text" matInput formControlName="province" [errorStateMatcher]="matcher"
            placeholder="Introduce tu provincia">
            <mat-hint>Campo opcional</mat-hint>
            <mat-error *ngIf="this.newPlayerForm.get('province')?.hasError('minlength')">
              Debes introducir mínimo 2 carateres.
            </mat-error>
            <mat-error *ngIf="this.newPlayerForm.get('province')?.hasError('maxlength')">
              Debes introducir máximo 30 carateres.
            </mat-error>
        </mat-form-field>
      </div>


      <!-- <div class="form-row">
        <mat-form-field class="margin-top">
            <mat-label>Número de socio</mat-label>
            <input type="text" matInput formControlName="membershipId" [errorStateMatcher]="matcher"
            placeholder="Ej. 083B">
            <mat-hint>Campo obligatorio</mat-hint>
            <mat-error *ngIf="this.newPlayerForm.get('membershipId')?.hasError('minlength') && !newPlayerForm.get('membershipId')?.hasError('required')">
              El número de socio es como mínimo de 4 caracteres.
            </mat-error>
            <mat-error *ngIf="this.newPlayerForm.get('membershipId')?.hasError('maxlength') && !newPlayerForm.get('membershipId')?.hasError('required')">
              El número de socio es como máximo de 4 caracteres.
            </mat-error>
            <mat-error *ngIf="this.newPlayerForm.get('membershipId')?.hasError('pattern') && !newPlayerForm.get('membershipId')?.hasError('required')">
              El número de socio debe contener 3 números y una letra mayúscula.
            </mat-error>
            <mat-error *ngIf="this.newPlayerForm.get('membershipId')?.hasError('required')">
              El número de socio es necesario.
            </mat-error>
        </mat-form-field>

        <mat-form-field class="calendar">
            <mat-label>Fecha de alta:</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date" [errorStateMatcher]="matcher" placeholder="Selecciona fecha" [min]="todayDate">
            <mat-hint>MM/DD/YYYY (Campo obligatorio)</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker" ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div> -->

      <mat-form-field class="example-full-width">
        <mat-label>Contraseña</mat-label>
        <input type="password" matInput formControlName="password1" [errorStateMatcher]="matcher" placeholder="Contraseña">
        <mat-hint>Campo obligatorio</mat-hint>
        <mat-error *ngIf="newPlayerForm.get('password1')?.hasError('minlength') && !newPlayerForm.get('password1')?.hasError('required')">
          La contraseña debe contener como mínimo 6 caracteres.
        </mat-error>
        <!-- <mat-error *ngIf="newPlayerForm.get('password1')?.hasError('pattern') && !newPlayerForm.get('password1')?.hasError('required')">
          La contraseña debe contener entre 8 y 16 caractéres, y al menos, una letra en minúscula, otra letra en mayúscula, un número y un caracter especial.
        </mat-error> -->
        <mat-error *ngIf="newPlayerForm.get('password1')?.hasError('matching')">
          Las contraseñas no coinciden.
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Repetir contraseña</mat-label>
        <input type="password" matInput formControlName="password2" [errorStateMatcher]="matcher" placeholder="Repetir contraseña">
        <mat-hint>Campo obligatorio</mat-hint>
        <mat-error *ngIf="newPlayerForm.get('password2')?.hasError('matching')">
          Las contraseñas no coinciden.
          </mat-error>
      </mat-form-field>

      <button type="submit" value="enviar" class="btn btn-primary me-3">Enviar</button>

    </form>

</div>
