<div class="container">
    <img src="assets/images/tennis-player-profile.jpg" class="img-fluid rounded-circle profile" alt="" />
    
    <div class="data">
        <h2 class="bg-light p-2 border-top border-bottom">Datos personales</h2>

        <ul class="list-group list-group-light mb-4">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <div class="ms-3">
                        <p class="text-muted mb-0">Nombre y Apellidos:</p>
                        <p class="fw mb-1">{{this.jugador.NAME+' '+ this.jugador.APELLIDOS}}</p>
                    </div>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <div class="ms-3">
                        <p class="text-muted mb-0">Año de nacimiento:</p>
                        <p class="fw mb-1">{{this.jugador.FECHA_NACIMIENTO}}</p>
                    </div>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <div class="ms-3">
                        <p class="text-muted mb-0">Sexo:</p>
                        <p class="fw mb-1">{{this.jugador.SEXO}}</p>
                    </div>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <div class="ms-3">
                        <p class="text-muted mb-0">Número de socio:</p>
                        <p class="fw mb-1">{{this.jugador.NUMERO_SOCIO}}</p>
                    </div>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <div class="ms-3">
                        <p class="text-muted mb-0">Fecha de alta:</p>
                        <p class="fw mb-1">{{this.jugador.FECHA_ALTA}}</p>
                    </div>
                </div>
            </li>
            </ul>

            <h2 class="bg-light p-2 border-top border-bottom">Datos de contacto</h2>

            <ul class="list-group list-group-light">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <div class="ms-3">
                            <p class="text-muted mb-0">Dirección:</p>
                            <p class="fw mb-1">{{this.jugador.DIRECCION_POSTAL}}</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <div class="ms-3">
                            <p class="text-muted mb-0">Municipio:</p>
                            <p class="fw mb-1">{{this.jugador.MUNICIPIO}}</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <div class="ms-3">
                            <p class="text-muted mb-0">Provincia:</p>
                            <p class="fw mb-1">{{this.jugador.PROVINCIA}}</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <div class="ms-3">
                            <p class="text-muted mb-0">Correo electrónico:</p>
                            <p class="fw mb-1">{{this.jugador.EMAIL}}</p>
                        </div>
                    </div>
                </li>
        </ul>
    </div>
</div>
