<div class="container">
    <img src="assets/images/tennis-player-profile.jpg" class="img-fluid rounded-circle profile" alt="" />
    
    <div class="data">
        <h2 class="bg-light p-2 border-top border-bottom">Datos personales</h2>

        <ul class="list-group list-group-light mb-4">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <div class="ms-3">
                        <p class="text-muted mb-0">Nombre y Apellidos:</p>
                        <p class="fw mb-1">{{this.jugador.name+' '+ this.jugador.apellidos}}</p>
                    </div>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <div class="ms-3">
                        <p class="text-muted mb-0">Año de nacimiento:</p>
                        <p class="fw mb-1">{{this.jugador.fecha_nacimiento}}</p>
                    </div>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <div class="ms-3">
                        <p class="text-muted mb-0">Sexo:</p>
                        <p class="fw mb-1">{{this.jugador.sexo}}</p>
                    </div>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <div class="ms-3">
                        <p class="text-muted mb-0">Número de socio:</p>
                        <p class="fw mb-1">{{this.jugador.numero_socio}}</p>
                    </div>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <div class="ms-3">
                        <p class="text-muted mb-0">Fecha de alta:</p>
                        <p class="fw mb-1">{{this.jugador.fecha_alta}}</p>
                    </div>
                </div>
            </li>
            </ul>

            <h2 class="bg-light p-2 border-top border-bottom">Datos de contacto</h2>

            <ul class="list-group list-group-light">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <div class="ms-3">
                            <p class="text-muted mb-0">Dirección:</p>
                            <p class="fw mb-1">{{this.jugador.direccion_postal}}</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <div class="ms-3">
                            <p class="text-muted mb-0">Municipio:</p>
                            <p class="fw mb-1">{{this.jugador.municipio}}</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <div class="ms-3">
                            <p class="text-muted mb-0">Provincia:</p>
                            <p class="fw mb-1">{{this.jugador.provincia}}</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <div class="ms-3">
                            <p class="text-muted mb-0">Correo electrónico:</p>
                            <p class="fw mb-1">{{this.jugador.email}}</p>
                        </div>
                    </div>
                </li>
        </ul>
    </div>
</div>




<div class="admin">
    <div class="player-title">
        <h1>Reservas realizadas</h1>
    </div>
<div class="table mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" matSort >

      <ng-container matColumnDef="Fecha">
        <mat-header-cell *matHeaderCellDef class="table-light"> Fecha</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.fecha_reserva.substring(0,10)}}</mat-cell>
      </ng-container>
  
     
       <ng-container matColumnDef="Hora">
        <mat-header-cell *matHeaderCellDef> Hora </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.hora_reserva}}  </mat-cell>
      </ng-container>
  
  
      <ng-container matColumnDef="Tipo de pista">
        <mat-header-cell *matHeaderCellDef> Tipo de pista </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.pista.tipo_pista}} </mat-cell>
      </ng-container>
  
     
      <ng-container matColumnDef="Numero de pista">
        <mat-header-cell *matHeaderCellDef> Numero de pista </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.pista.num_pista}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Pagado">
        <mat-header-cell *matHeaderCellDef> Pagado </mat-header-cell>
        <mat-cell *matCellDef="let element"><input name="pagado"  type="text" [(ngModel)]="element.pago.pagado" [ngModelOptions]="{standalone: true}" required/></mat-cell>
      </ng-container>

      <ng-container matColumnDef="Editar">
        <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
        <mat-cell *matCellDef="let element"><button type="button" class="btn btn-outline-primary" (click)="editar(element.pago)" mdbRipple rippleColor="dark" mdbRipple>EDITAR</button></mat-cell>
      </ng-container>

      <ng-container matColumnDef="Eliminar">
        <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
        <mat-cell *matCellDef="let element"><button type="button" class="btn btn-outline-primary" (click)="eliminar(element.id, element.pago.id)" mdbRipple rippleColor="dark" mdbRipple>ELIMINAR</button></mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columnas;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

  </div>
</div>