<!--
<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
</mat-form-field>
<div class="table-responsive">
    <table mat-table [dataSource]="dataSource" matSort  class="table">
      <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">         
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-light">
          {{ col.label }}
        </th>
        <td mat-cell *matCellDef="let element">
          <div [ngSwitch]="col.type">
            <span *ngSwitchCase="'boolean'">{{ element[col.key] | yesNo }}</span>
            <ng-template [ngSwitchDefault]>{{ element[col.key]}}</ng-template>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
<span class="badge badge-danger">DEUDA TOTAL: {{ getTotal() }} €</span>
-->
<!--
<div class="table-responsive">
  <table class="table">
    <tr>
      <td>Fecha</td>
      <td>Hora</td>
      <td>Luz</td>
      <td>Tipo de pista</td>
      <td>Numero de pista</td>
      <td>Pagado</td>
    </tr>
    <tr *ngFor="let item of arrayReservas">
      <td>{{item.fecha_reserva.substring(0,10)}}</td>
      <td>{{item.hora_reserva}}</td>
      <td>{{item.tiene_luz}}</td>
      <td>{{item.pista.tipo_pista}}</td>
      <td>{{item.pista.num_pista}}</td>
      <td>{{item.pago.pagado}}</td>
    </tr>
  </table>
  <p *ngIf="this.deuda !=0">{{'DEUDA TOTAL: '+this.deuda + '€'}}</p>
</div>
-->
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
</mat-form-field>
<div class="mat-elevation-z8 table-responsive">
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8 table" matSort #tabla1>

    <ng-container matColumnDef="Fecha">
      <th mat-header-cell *matHeaderCellDef class="table-light"> Fecha </th>
      <td mat-cell *matCellDef="let item"> {{item.fecha_reserva.substring(0,10)}} </td>
    </ng-container>

    <ng-container matColumnDef="Hora">
      <th mat-header-cell *matHeaderCellDef class="table-light"> Hora </th>
      <td mat-cell *matCellDef="let item"> {{item.hora_reserva}} </td>
    </ng-container>

    <ng-container matColumnDef="Instalacion">
      <th mat-header-cell *matHeaderCellDef class="table-light"> Instalacion </th>
      <td mat-cell *matCellDef="let item"> {{item.pista.tipo_pista}} </td>
    </ng-container>

    <ng-container matColumnDef="Luz">
      <th mat-header-cell *matHeaderCellDef class="table-light"> Luz </th>
      <td mat-cell *matCellDef="let item"> {{item.tiene_luz}} </td>
    </ng-container>

    <ng-container matColumnDef="Importe">
      <th mat-header-cell *matHeaderCellDef class="table-light"> Importe </th>
      <td mat-cell *matCellDef="let item"> {{item.pago.cantidad}} </td>
    </ng-container>

    <ng-container matColumnDef="Pagado">
      <th mat-header-cell *matHeaderCellDef class="table-light"> Pagado </th>
      <td mat-cell *matCellDef="let item"> {{item.pago.pagado}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
  <p *ngIf="this.deuda !=0" style="color: red;">{{'DEUDA TOTAL: '+this.deuda + '€'}}</p>
</div>