<div class="activities">
    <h1>Actividades del club</h1>
    <mdb-tabs [justified]="true">
        <mdb-tab title="Torneos">
            <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
            </p>
            <p>
                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
            </p>
           
            <table class="table">
            <thead class="table-light">
                <tr>
                <th scope="col">Fecha inicio</th>
                <th scope="col">Torneo</th>
                <th scope="col">Categoría</th>
                <th scope="col">Modalidad</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row">30/10/2023</th>
                <td>Abierto de otoño</td>
                <td>Benjamín, alevín, infantil y cadete</td>
                <td>Masculino y femenino</td>
                </tr>
                <tr>
                <th scope="row">10/11/2023</th>
                <td>Memorial Manolo Santana</td>
                <td>Absoluto y veteranos +35/+45</td>
                <td>Masculino y femenino</td>
                </tr>
                <tr>
                <th scope="row">25/11/2023</th>
                <td>Masters de Bizkaia</td>
                <td>Absoluto y veteranos +35/+45</td>
                <td>Masculino y femenino</td>
                </tr>
                <tr>
                <th scope="row">23/12/2023</th>
                <td>Torneo de Navidad</td>
                <td>Benjamín, alevín, infantil y cadete, junior, absoluto y veteranos +35/+45</td>
                <td>Masculino y femenino</td>
                </tr>
            </tbody>
            </table>
        </mdb-tab>
        <mdb-tab title="Eventos del club">
            <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
            </p>
            <p>
                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
            </p>
            <table class="table">
                <thead class="table-light">
                    <tr>
                    <th scope="col">Fecha inicio</th>
                    <th scope="col">Hora</th>
                    <th scope="col">Evento</th>
                    <th scope="col">Observaciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <th scope="row">31/10/2023</th>
                    <td>19:00</td>
                    <td>Reunión de la asociación</td>
                    <td>Aprobación de cuentas anuales</td>
                    </tr>
                    <tr>
                        <th scope="row">15/11/2023</th>
                        <td>14:00</td>
                        <td>Comida veteranos/as</td>
                        <td>Restaurante Baserri Antzokia</td>
                    </tr>
                    <tr>
                        <th scope="row">10/12/2023</th>
                        <td>19:00</td>
                        <td>Cena de navidad</td>
                        <td>Restaurante Baserri Antzokia</td>
                    </tr>
                </tbody>
                </table>
        </mdb-tab>
        <mdb-tab title="Ranking social">
            <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
            </p>
            <table class="table">
                <thead class="table-light">
                    <tr>
                    <th scope="col">Posición</th>
                    <th scope="col">Nombre y Apelliidos</th>
                    <th scope="col">Puntos</th>
                    <th scope="col">Jugados</th>
                    <th scope="col">Ganados</th>
                    <th scope="col">Perdidos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <th scope="row">1</th>
                    <td>Novak Djokovic</td>
                    <td>320</td>
                    <td>25</td>
                    <td>25</td>
                    <td>0</td>
                    </tr>
                    <tr>
                    <th scope="row">2</th>
                        <td>Roger Federer</td>
                        <td>315</td>
                        <td>25</td>
                        <td>24</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Carlos Alcaraz</td>
                        <td>300</td>
                        <td>25</td>
                        <td>23</td>
                        <td>2</td>
                    </tr>
                </tbody>
                </table>
        
        </mdb-tab>
      </mdb-tabs>
</div>
