@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
 
@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';

.mat-body, .mat-body-1, .mat-typography {
    font-size: 15px;
}

.activities, .about-us, .player, .admin, .home-under, .reserves, .login { 
    margin-top: 9em;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 4em;
    max-width: 1200px;
}
.table {
    margin-top: 2em;
    margin-bottom: 2em;
}
@media (max-width: 1300px) {
    .activities, .about-us, .player, .admin, .home-under, .reserves, .login {
        margin-right: 1em;
        margin-left: 1em;
    }
}
img {
    max-width: 100%;
    height: auto;
}
i {
    margin-right: 0.4em;
    font-size: large;
}
.card .btn-primary {
    display: table;
    margin-left: auto;
    margin-right: auto;
}
.mat-h1, .mat-headline, .mat-typography h1 {
    font-size: xx-large;
    line-height: normal;
}

/* Título y usuario validado */

.player-title, .admin-title {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(auto, auto);
    margin-bottom: 1em;
}
h1 {
    grid-column: 1 / 5;
    grid-row: 1;
  }
.user {
    grid-column: 5 / 5;
    grid-row: 1;
    margin-left:auto;
}
.badge {
    font-size: 1em;
    font-weight: 500;
    padding: 0.6em;
}

@media (max-width: 600px) {
    .activities, .about-us, .player, .admin, .home-under, .reserves, .login { 
        margin-top: 11em;
    }
    .align-items-center {
        flex-flow: column;
    }
    .player-title, .admin-title {
        grid-template-columns: auto;
    }
    h1 {
        grid-column: 1;
        grid-row: 1;
      }
    .user {
        grid-column: 1;
        grid-row: 2;
    }
  }

/* Fin título y usuario validado */